/* You can add global styles to this file, and also import other style files */
html {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

body {
    position: relative;
    min-width: 950px;
    width: 100%;
}