<header>
  <div class="logo">
    <img src="/assets/ic_logo.png">
    <a routerLink="">Autie</a>
  </div>
  <nav>
    <div><a (click)="scrollTo(770)">Find Out</a></div>
    <div><a (click)="scrollTo(1600)">Autie Tasks</a></div>
    <div><a (click)="scrollTo(2350)">Team</a></div>
  </nav>
</header>
<section id="what">
  <div>
    <h1>What is autism <br>spectrum disorder?</h1>
    <p class="description">Autism or autism spectrum disorder, refers to range of conditions charactirized by challenges with social skills.</p>
    <a (click)="scrollTo(770)">Find Out</a>
  </div>
</section>
<div class="autibot"></div>
<chat-dialog></chat-dialog>
<section id="findout">
  <div class="caption">
    Find Out
  </div>
  <div class="description">
    <p>Autism, or autism spectrum disorder, refers to range of conditions <br>charactirized by challenges with social skills.</p>
  </div>
  <div class="card-row">
    <div routerLink="symptoms" class="card">
      <div class="container">
        <img src="/assets/ic_symptoms.png">
        <h2>Symptoms</h2>
      </div>
    </div>  
    <div routerLink="apps-technologies" class="card">
      <div class="container">
        <img src="/assets/ic_apps_tech.png">
        <h2>Apps & Technology</h2>
      </div>
    </div>  
  </div>
  <div class="card-row">
    <div routerLink="community-services" class="card">
      <div class="container">
        <img src="/assets/ic_com_services.png">
        <h2>Community & Services</h2>
      </div>
    </div>   
  </div>
</section>
<section id="tasks">
  <div class="caption">Autie Tasks</div>
  <div class="description">
    <p>Autism, or autism spectrum disorder, refers to range of conditions <br>charactirized by challenges with social skills.</p>
  </div>
  <div class="card-row daily">
    <div routerLink="wash-hands" class="card">
      <div class="container">
        <img src="/assets/wash.png">
      </div>
      <h2>Wash Hands</h2>
    </div>  
    <div routerLink="brush-teeth" class="card">
      <div class="container">
        <img src="/assets/brush.png">
      </div>
      <h2>Brush Teeth</h2>
    </div>  
  </div>
</section>
<section id="team">
  <div class="caption">
    Our Team
  </div>
  <div class="card-row">
    <div class="member">
      <div class="container">
        <img src="/assets/bayouski.gif">
        <h4>Uladzislau Bayouski</h4>
        <h5>Project Manager</h5>
      </div>
    </div>  
    <div class="member">
      <div class="container">
        <img src="/assets/khlystun.gif">
        <h4>Olga Khlystun</h4>
        <h5>Business Analyst</h5>
      </div>
    </div>  
    <div class="member">
      <div class="container">
        <img src="/assets/miller.jpg">
        <h4>Briana Miller</h4>
        <h5>Research Consultant</h5>
      </div>
    </div>  
    <div class="member">
      <div class="container">
        <img src="/assets/osypov.jpg">
        <h4>Sergiy Osypov</h4>
        <h5>Software Engineer</h5>
      </div>
    </div>  
    <div class="member">
      <div class="container">
        <img src="/assets/sokolov.jpg">
        <h4>Yuriy Sokolov</h4>
        <h5>Experience Designer</h5>
      </div>
    </div>  
  </div>  
</section>
<footer>
  <div class="logo">
    <img src="/assets/ic_logo.png"> 
    <a routerLink="">Autie</a>
  </div>
  <div>&copy; 2018. All rights reserved.</div>
  <div>
    <a href="mailto:hello@autie.io">hello@autie.io</a>
  </div>
</footer>