header {
    display: flex; 
    justify-content: space-between;
    padding: 15px 160px;
}

.logo {
    display: inline-block;
    margin-bottom: 15px;
}

.logo img {
    vertical-align: middle;
}

.logo a {
    color: #000000;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    padding-left: 10px;
    vertical-align: -webkit-baseline-middle;
}

header nav {
    display: flex; 
    justify-content: center;
}

header nav div {
    margin: 20px;
}

header nav div a {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

.caption {
    color: #8180f0;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
}

.description {
    color: #8a8a8a;
    font-size: 1.2em;
    line-height: 1.6;
    text-align: center;
}


.card-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    box-shadow: 0 0 30px rgba(0,0,0,0.1);
    transition: 0.3s;
    border: 0;
    border-radius: 20px;
    margin: 20px;
    padding: 30px 30px 20px;
    background-color: #ffffff;
    cursor: pointer;
}

.card:active, .card:focus {
    outline: 0;
    border: none;
    -moz-outline-style: none;
}

#tasks {
    background-color: #f5f3fd;
    padding: 80px 0;
}

#tasks .card {
    width: 400px;
    margin-top: 80px;
}

#tasks .card h2 {
    text-align: center;
    padding: 0 20px;
}

#tasks .card img {
    padding: 20px 70px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 260px;
    height: 220px;
}

#findout {
    padding: 80px 0;    
}

#findout .card {
    width: 340px;
}

#team {
    padding: 80px 0;    
}

#team .member {
    width: 150px;
    padding: 15px;
}

#team .member h4 {
    text-align: center;
}

#team .member h5 {
    text-align: center;
    padding: 0 10px;
    color: #8a8a8a;
    margin-top: -10px;    
}

#team .member img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

#team .caption {
    margin-bottom: 20px; 
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 0 40px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
#findout .container {
    padding: 20px;
    text-align: center;
}

div.autibot {
    position: absolute;
    background-image: url("/assets/autibot.png");
    height: 499px;
    width: 278px;
    top: 200px;
    left: 650px;
}

#what {
    background-image: url("/assets/wave_slice_v2.png");
    background-position: bottom;
    background-repeat: repeat-x;
    background-color: #f5f3fd;
    min-height: 350px;
    max-height: calc(100vh - 400px);
    padding: 160px;
}

#what h1 {
    font-size: 3em;
}

#what .description {
    width: 400px;
    text-align: left;
    justify-content: space-between;
    margin-bottom: 50px;
}

#what a {
    background-color: #8180f0;
    border-radius: 30px;
    color: #ffffff;
    padding: 15px 35px;
    text-decoration: none;
    cursor: pointer;
}

footer {
    text-align: center;
    line-height: 1.5;
    padding: 30px;
}

footer a {
    color: #a291ff;
    text-decoration: none;
}
